$primary-background-colour: #001514;
$primary-font-color: #FBFFFE;
$secondary-background-color: #022F40;
$primary-font: Sans-serif;

$left-padding: 5px;
$right-padding: 5px;
$top-padding: 5px;
$bottom-padding: 5px;

body {
    background-color : $primary-background-colour;
    width: 370px;
    height: 400x;
    color: $primary-font-color;
    font-family: $primary-font;
}

.top-buttons-container {
    padding-left: $left-padding;
    padding-top: $top-padding;
}


#main-nav {

    ul {
        display: flex;
        padding: 0;
        justify-content: space-between;
        gap: 2px;
        
        li {
            
            list-style-type: none;
            border-radius: 2px;

            button {
                background: #16C172;
                color: inherit;
                border: none;
                padding: 5px;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            
        }

    }


}




// .match-day-select-container {
//     display: flex;
//     justify-content: space-between;
//     padding-left: $left-padding;
//     padding-bottom: $bottom-padding;
//     padding-right: $right-padding;
//     margin-top: 15px;
// }

#bold-header {
    font-weight: bold;
    font-size: 25px;
    padding-left: $left-padding;
    padding-bottom: $bottom-padding;
}

.match-box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 5px;
}

#match-games{
    background-color: $secondary-background-color;
    border-radius: 3px;

}

.time-date-container{
    display: flex;
    justify-content: space-between;
}


#date {
font-size: 11px;
color: #16C172;
font-style: bold;
padding-left: $left-padding;
padding-top: $top-padding;
padding-bottom: $bottom-padding;    
}

#time {
    font-size: 11px;
    color: #2DE1FC;
    font-style: bold;
    padding-right: $right-padding;
    padding-top: $top-padding;
    padding-bottom: $bottom-padding;    
    }



.team-container {
    display: flex;
    justify-content:space-between;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#teams {
    font-size: 15px;
}

